html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  --primary: #de3c4b;
  --primary-contrast: white;
  --secondary: #717777;
  --font: Helvetica, Arial, sans-serif;
  --text-color: #2d3142;
  --card-background: white;
  --page-background: linear-gradient(#4f5d75, #2d3142);
  --image-size: 200px;

  background: var(--page-background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  color: var(--text-color);
}

.card {
  background: var(--card-background);
  background-image: radial-gradient(
      circle at top,
      var(--primary) 50%,
      transparent 50%,
      transparent
  );
  background-position: center -300px;
  background-size: 1500px 500px;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 55px rgba(38, 40, 45, .75);
  width: 75vw;
  max-width: 500px;
  border-radius: 4px;
  margin-top: calc(var(--image-size) / 3 + 24px);
  padding: 0 24px 24px;
  text-align: center;
}

.portrait {
  width: var(--image-size);
  height: var(--image-size);
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-top: calc(-1 * var(--image-size) / 3);
}

h1 {
  font-size: 2rem;
  margin: 36px 0 0;
  color: var(--primary);
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--secondary);
}

dl {
  display: flex;
  justify-content: space-around;
  gap: 12px;
}

dl > div {
  flex-basis: 33%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column-reverse;
}

dd {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary);
}

dt {
  font-size: .75rem;
}

p.summary {
  margin: 24px 0;
  line-height: 1.5;
}

ul.technologies {
  list-style: none;
  margin: 24px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}

ul.technologies li {
  padding: 12px 24px;
  border-radius: 24px;
  background: #ffdadd;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 36px;
}

.actions a, .actions button {
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  border: solid 1px var(--primary);
  font-family: var(--font);
  font-size: 1rem;
  cursor: pointer;
}

.follow {
  background: var(--primary);
  color: var(--primary-contrast);
}

.message {
  background: var(--primary-contrast);
  color: var(--primary);
}

*:focus-visible {
  outline: dotted 1px var(--primary);
  outline-offset: 3px;
}
