html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  --primary: #de3c4b;
  --primary-contrast: white;
  --secondary: #717777;
  --font: Helvetica, Arial, sans-serif;
  --text-color: #2d3142;
  --card-background: white;
  --page-background: linear-gradient(#4f5d75, #2d3142);
  --image-size: 200px;

  background: var(--page-background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  color: var(--text-color);
}

.card {
  background: var(--card-background);
  box-shadow: 0px 0px 55px rgba(38, 40, 45, .75);
  width: 75vw;
  max-width: 500px;
  border-radius: 4px;
}
