html {
  --color: #333333;
  --font-family: sans-serif;
  font-size: 12pt;
  color: var(--color);
  font-family: var(--font-family);
  --background: #fafafa;
  --background-card: #fff5dc;
  --accent: #086788;
  --accent-contrast: #ffffff;
  --error: #dd1c1aff;
  --border: #ddd;
  --hover: #bee0eb;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  background-image: radial-gradient(var(--accent) .75px, transparent .75px);
  background-size: 15px 15px;
  margin: 0;
  padding: 2rem;
}

main {
  max-width: 600px;
  margin: 1rem auto;
  background: var(--background-card);
  padding: 2rem;
  box-shadow: -2px 2px 15px 0 var(--border);
}

h1 {
  color: var(--accent);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}
